<div class="container">
  <div class="row">
    <form>
      <div class="form-group">
          <img class="spotlight" alt="Image may contain: 2 people, including Jhon Bobo Ye, people smiling" aria-busy="false" src="https://scontent.fkgl1-1.fna.fbcdn.net/v/t1.0-9/36359621_10212149878728269_2244639055230795776_n.jpg?_nc_cat=104&amp;_nc_ht=scontent.fkgl1-1.fna&amp;oh=a62ab7d0bdc4c544e6dfa87f3038e4a3&amp;oe=5CEA9939" style="width: 300px; height: 300px;"> <br>
          <h1>Github Search</h1> 
        <label for="name">UserName</label>
        <input type="text" required class="form-control" id="name">
      </div>
      <button type="submit" class="btn btn-succes btn-lg">Submit</button>
    </form>
    <div id="names">
      Name:<br>
      public_repos:<br>
      created_at:<br>
      followers:
  </div>  
  </div>
</div>