button{
    padding: 10px 10px;
    margin: 10px;
    color:#052153;
    background-color: rgb(240, 220, 195);
}
input{
    padding: 10px 10px;
    margin: 10px;
    text-align: center;
}
label{
    background-color: rgb(240, 220, 195);
    padding: 10px 10px;
    margin: 10px;
}
.container{
    background-color:	rgba(105, 61, 61, 0.568);
    text-align: center;
}
h1{
    color: rgb(5, 17, 82);
}
table{
    margin-left: 20px;
}
td{
    color:#06368f; 
    padding: 10px 10px;
    margin:10px;
    font-style: italic;
}
label{
    color: rgb(28, 6, 80); 
}