/* You can add global styles to this file, and also import other style files */
button{
    padding: 10px 10px;
    color:#051838;
    background-color: rgb(100, 177, 107);
}
input{
    padding: 10px 10px;
    margin: 10px;
    text-align: center;
}
label{
    background-color: rgb(209, 195, 178);
    padding: 10px 10px;
    margin: 10px;
}
body{
    background-color: #cdd1d6;
    text-align: center;
}